---
import "../styles/global.css";
---

<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Harum Care Indonesia - Platform donasi terpercaya dan transparan"
    />
    <link rel="icon" href="/favicon.svg" />
    <title>Harum Care Indonesia</title>
  </head>
  <body class="flex w-full">
    <header>
      <nav class="bg-blue-400">
        <div class="flex-shrink-0">
          <a href="/" class="flex items-center">
            <img
              src="/images/logo/logo.png"
              alt="Logo Harum Care"
              class="h-8 w-auto mr-2"
            />
          </a>
          <ul>
            <li><a href="">Campaign</a></li>
            <li><a href="">Donasi</a></li>
            <li><a href="">User</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <slot />
    </main>
  </body>
</html>
